<div class="emoji-content">
    <div class="emoji-arm emoji-arm-left">
        <div class="emoji-arm-forearm"></div>
        <div class="emoji-arm-biceps"></div>
        <div class="emoji-arm-shoulder"></div>
        <div class="emoji-arm-hand"></div>
    </div>
    <div class="emoji-head">
        <div class="emoji-head-eyes">
            <div class="emoji-head-eye-left">🔥</div>
            <div class="emoji-head-eye-right">🔥</div>
        </div>
        <div class="emoji-head-scar">҂</div>
        <div class="emoji-head-mouth"></div>
    </div>
    <div class="emoji-arm">
        <div class="emoji-arm-shoulder"></div>
        <div class="emoji-arm-biceps"></div>
        <div class="emoji-arm-hand"></div>
        <div class="emoji-arm-forearm"></div>
    </div>
</div>