<div class="emoji-content">
    <!-- <div class="emoji-arm emoji-arm-left">
        <div class="emoji-arm-forearm"></div>
        <div class="emoji-arm-biceps"></div>
        <div class="emoji-arm-hand"></div>
    </div> -->
    <div class="emoji-head">
        <div class="emoji-head-eyes">
            <div class="emoji-head-eye emoji-head-eye-left"><span class="eyebrow eyebrow-left"></span>
                <div class="cute-eye">
                    <div class="cute-eye-inside"></div>
                </div>
            </div>
            <div class="emoji-head-eye emoji-head-eye-right"><span class="eyebrow eyebrow-right"></span>
                <div class="cute-eye">
                    <div class="cute-eye-inside"></div>
                </div>
            </div>
        </div>
        <div class="emoji-head-mouth">
            <div class="emoji-head-mouth-tongue"></div>
        </div>
    </div>
    <!-- <div class="emoji-arm emoji-arm-right">
        <div class="emoji-arm-biceps"></div>
        <div class="emoji-arm-hand"></div>
        <div class="emoji-arm-forearm"></div>
    </div> -->
    <div class="message">
        <span>Bo</span>
        <span>ra!</span>
    </div>
</div>