<div class="emoji-content">
    <div class="emoji-head">
        <div class="emoji-head-eyes">
            <div class="emoji-head-eye emoji-head-eye-left"><span class="eyebrow eyebrow-left"></span>
                <div class="cute-eye">
                    <div class="cute-eye-inside">
                        <div class="cute-eye-inside-light"></div>
                        <div class="cute-eye-inside-black"></div>
                    </div>
                </div>
            </div>
            <div class="emoji-head-eye emoji-head-eye-right"><span class="eyebrow eyebrow-right"></span>
                <div class="cute-eye">
                    <div class="cute-eye-inside">
                        <div class="cute-eye-inside-light"></div>
                        <div class="cute-eye-inside-black"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="emoji-head-mouth">
            <div class="emoji-head-mouth-tongue"></div>
        </div>
    </div>
    <div class="message">
        <span>Bo</span>
        <span>ra!</span>
    </div>
</div>
<div class="eyebrow-test"></div>