<div class="stopwatch-content">
    <app-stopwatch-display #display></app-stopwatch-display>
    <div class="stopwatch-buttons">
        <button *ngIf="showStartButton(display.state)" mat-fab (click)="display.start()"><mat-icon>play_arrow</mat-icon></button>
        <button *ngIf="showResumeButton(display.state)" mat-fab (click)="display.resume()"><mat-icon>play_arrow</mat-icon></button>
        <button *ngIf="showPauseButton(display.state)" mat-fab (click)="display.pause()"><mat-icon>pause</mat-icon></button>
        <button *ngIf="showStopButton(display.state)" mat-fab (click)="display.stop()"><mat-icon>stop</mat-icon></button>
    </div>
</div>