<div class="stopwatch-content">
    <div class="stopwatch-stopwatch">
        <p>{{ timer | timerFormatter }}</p>
    </div>
    <div class="stopwatch-buttons">
        <button *ngIf="showStartButton(state)" mat-fab (click)="start()"><mat-icon>play_arrow</mat-icon></button>
        <button *ngIf="showResumeButton(state)" mat-fab (click)="resume()"><mat-icon>play_arrow</mat-icon></button>
        <button *ngIf="showPauseButton(state)" mat-fab (click)="pause()"><mat-icon>pause</mat-icon></button>
        <button *ngIf="showStopButton(state)" mat-fab (click)="stop()"><mat-icon>stop</mat-icon></button>
    </div>
</div>