<div class="root-content">
    <p *ngIf="showStopButton(display.state)" class="rest-icon"><b>(っ˘<span class="mouth">▿</span>˘)</b> <span
            class="blow">💨</span></p>
    <p *ngIf="showRestButton(display.state)" class="exercising-icon"><span class="left-arm">💪</span>(<span
            class="fire-eye">🔥</span>_<span class="fire-eye">🔥</span>҂)<span class="right-arm">💪</span> <b> Bora!</b>
    </p>
    <app-stopwatch-display #display></app-stopwatch-display>
    <div class="stopwatch-buttons">
        <button *ngIf="showRestButton(display.state)" mat-raised-button color="accent"
            (click)="rest()"><mat-icon>airline_seat_flat</mat-icon>Descançar</button>
        <button *ngIf="showStopButton(display.state)" mat-raised-button color="accent"
            (click)="go()"><mat-icon>fitness_center</mat-icon>Bora?</button>
    </div>
    <p>Repetições</p>
    <div class="count-content">
        <button mat-mini-fab (click)="remove()"><mat-icon>remove</mat-icon></button>
        <p>{{ repeatsModels.currentRepeats }}/{{ repeatsModels.repeats }}</p>
        <button mat-mini-fab (click)="add()"><mat-icon>add</mat-icon></button>
    </div>
    <button mat-raised-button color="accent" (click)="reset()">Reset</button>
</div>