.count-content {
    display: flex;
    justify-content: center;
    align-items: center;
    p {
        font-family: "Roboto Mono", monospace;
        font-weight: 300;
        font-size: 48px;
        padding: 20px 15px 10px 15px;
    }
}
